/* src/components/Cart.css */
.cart {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 2rem;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.hidden {
    display: none;
}

.card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 18px;
    margin: 0;
}

.card-price {
    font-size: 16px;
    color: #333;
}

.card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.quantity-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.quantity-button:hover {
    background-color: #0056b3;
}

.quantity {
    font-size: 16px;
    margin: 0 10px;
}

.remove-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.remove-button:hover {
    background-color: #c82333;
}

.total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.action-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
}

.action-button:hover {
    background-color: #0056b3;
}