*{
  margin: 0;
  padding: 0;
}

body{
  padding: 0;
  padding: 0;
  background-color: beige;
}

.navbar{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: brown;
  color: white;
  /* font-weight: 900; */
  width: 100% ;
  padding: 20px;
}

.brand{
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 2rem;
}
.search {
  width: 60%;
}

.search input{
  width: 60%;
  border-radius: .5rem;
  padding: 10px;
  font-size: 1 rem;
  font-weight: bold;
}

input::placeholder{
  padding: 10px;
  font-weight: bold;
}
.cart{
  width: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-bar-wrapper{
  display: flex;
  background-color: aqua;
  padding: 1.5rem;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
}

.rating {
  color: gold;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}